@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=latin,latin-ext);

* {
    box-sizing: border-box; 
}
body {
    font-family: 'Open Sans Condensed', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
}
h2 {
    font-size: 32px;
}
p {
    font-size: 20px;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.row:before, .row:after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    min-height: 1px;
    width: 100%;
    padding: 10px 0;
}
/*--HEADER--*/
header {
    z-index: 1001;
}

.baner {
    background-color: #252c41;
    height: 100px;
    line-height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.nav {
    float: right;
}
.nav>ul {
    width: 100%;    
    margin: 0 auto;
    height: auto;
    padding-top: 15px;
    padding-left: 0;
}

.nav>ul>li {
    list-style: none;
    display: inline-block;
    font-weight: bold;
    line-height: 50px;
    padding: 0 10px;
    text-align: center;

}
.nav>ul>li:hover {
    background-color: #dddfe6;
    cursor: pointer;
    color: #fff;
}
.nav>ul>li>a {
    text-decoration: none;
    color: #fff;
}
.nav>ul>li:hover a {
    color: #f1404b;
    transition: 0.3s;
}
.nav>img {
    padding: 20px;
}
.logo {
    height: 80px;
    width: 180px;
    
}

/*--SECTION JUMBOTRON--*/

.hero {
    height: 100vh;
}
/*--SECTION FEATURES--*/

.features {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    height: auto;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
}
.features h2 {
    text-align: center;
    text-transform: uppercase;   
}
.features-container {
	padding-left: 14px;
	padding-right: 14px;
}
.fa-features {
    font-size: 100px;
    background: #252c41;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    width: 160px;
}
.fa-features:hover {
    background-color: #3498DB;
    transition: 0.6s;
}
.fa-features:hover + h2{
    color: #3498DB;
    transition: 0.6s;
}

/*--SECTION HEADING--*/
.heading {
    padding-top: 50px;
    text-align: center;
}
/*--SECTION GALLERY--*/
.layer {
  	position: absolute; /* POZYCJA ABSOLUTNA */
  	width: 100%; /* WYSOKOŚĆ 100% */
  	height: 100%; /* SZEROKOŚĆ 100% */
  	background: transparent; /* BEZ HOVERA NIE MA */
  	overflow: hidden; /* JEST UKRYTE */
  	transition: 0.5s; /* CZAS ANIMACJI */
  }
.layer i { 
	/* CENTRUJEMY */
	position: absolute; 
	top: 0;
	bottom: 0;
	margin: auto;
	width: 54px;
    height: 54px;
	/* CENTROWANIE*/
	line-height: 54px;
	text-align: center;
    font-size: 34px;
	/* STYLE */
    color: #fdfdfd;
    background: transparent;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    opacity: 0; /* PRZEZROCZYSTOŚĆ PRZED */
    transition: 0.5s;
}
/* STYLOWANIE IKON NA HOVER */
.layer i:hover {
    color: white;
    background: #3498DB;
    border-color: #3498DB;
}
.layer .fa-search {
    left: 0;
}
.layer:hover .fa-search {
    opacity: 0.9;
	left: 20%;
}
.layer .fa-link {
	right: 0;
}
.layer:hover .fa-link {
    opacity: 0.9;
	right: 20%;
}
.layer:hover {
    background: rgba(37, 44, 65, 0.66);
}
.pic1 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/302A1358BB.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic2 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/FT5B7812_m_murawski.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic3 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/IMG_8261BB.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic4 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/302A4994BB.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic5 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/2.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic6 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/302A1506BB_1.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic7 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/302A1528BB.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.pic8 {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-image: url("http://warsawgamesweek.pl/wp-content/uploads/2015/11/IMG_7694BB.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
/*SECTION TEAM*/
.team {
    padding-top: 100px;
    padding-bottom: 50px;
}
.emp {
    text-align: center;
}
.emp-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: grey;
    margin: 0 auto;
    object-fit: cover;
    position: relative;
}
.overlay:after {
    content: "";
    position: absolute;
    background-color: rgba(38, 52, 90, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
    transition: 1s;
}
.overlay:hover:after {
    display: block;
}
.emp-position {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    display: none;
    color: white;
    z-index: 99;
    text-transform: uppercase;
}
.overlay:hover > .emp-position {
    display: block;
}

/*--SECTION APP--*/
.app {
    padding-top: 85px;
    padding-bottom: 50px;
    background-color: #252c41;
}
.phone {
    width: 300px;
    height: 400px;
    float: right;
}
.app p {
    display: inline-block;
    width: 50%;
    float: left;
    padding-right: 25px;
    color: white
}
.app h1 {
    color: white;
}
.google {
    width: 200px;
    height: 86px;
    float: left;
    margin-top: -3px;
    margin-left: -16px;
}
.apple {
    width: 200px;
    float: right;
    margin-top: 10px;
    margin-left: -16px;
}

/*--SECTION DIGITS--*/
.digits {
    padding: 50px 0;
    text-align: center;
}
.digits h1  {
    margin: 0 auto;
    font-weight: bold;
    font-size: 60px;
}
.digits p {
    margin: 0 auto;
    text-transform: uppercase;
}
.digits p:hover {
    color: #3498DB;
    font-weight: bold;
    cursor: pointer;
}
/*--SECTION FOOTER--*/
.footer {
    height: 100%;
    background-color: #252c41;
    color: white;
    padding-top: 10px;
    text-align: left;
    bottom: 0;
    left: 0;
    right: 0;
}

.line:after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
    left: 20px;
}
.footer p {
    margin: 0 auto;
    padding: 5px;
}

.footer-stopka {
    text-align: center;
    background-color: #3498DB;
    padding: 10px;
}
.btn {
    margin: 0 auto;
    padding: 10px 10px;
    margin-left: -10px;
    display: inline-block;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    -webkit-transition: 0.4s;
    transition: 1s;
}

.btn-animation {
    color: white;
    background-image: linear-gradient(45deg, #3498DB 50%, transparent 50%);
}
.btn-animation:hover {
    background-position: 0 100%;
    color: white;
}
/*SLIDER*/
  .css-slider-wrapper {
      display: block;
      background: #FFF;
      overflow: hidden;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  .slider {
      width: 100%;
      height: 100%;
      background: red;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 1;
      z-index: 0;
      
      display: flex;
      display: -webkit-flex;
      display: -ms-flexbox;
      flex-direction: row;
      flex-wrap: wrap;
      -webkit-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      justify-content: center;
      align-content: center;
      
      -webkit-transition: -webkit-transform 1600ms;
      transition: -webkit-transform 1600ms, transform 1600ms;
      -webkit-transform: scale(1);
      transform: scale(1);
      }
  .slide1 {
    height: 100vh;
    background-image: url("http://www.techkiller.pl/wp-content/uploads/2015/06/E3-Nintendo.jpg");
    background-color: grey;
    background-position: top;
    background-size: cover;
    left: 0;    
  }
  .slide2 {
    height: 100vh;
    background-image: url("http://www.nintendoworldreport.com/media/40569/4/1.jpg");
    background-color: grey;
    background-position: top;
    background-size: cover;
    left: 100%
  }
  .slide3 {
    height: 100vh;
    background-image: url("http://www.thosegamers.com/wp-content/uploads/2015/06/IMG_20150616_123855.jpg");
    background-color: grey;
    background-position: top;
    background-size: cover;
    left: 200%
  }
  .slide4 {
    height: 100vh;
    background-image: url("http://furiousfanboys.com/wp-content/uploads/2015/06/e3-2015-gallery-1.jpg");
    background-color: grey;
    background-position: top;
    background-size: cover;
    left: 300%;
  }
  .slider > div {
    text-align: center;
  }

  .slider h2 {
      color: #FFF;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 45px;
      line-height: 120%;
      opacity: 0;
      -webkit-transform: translateX(500px);
      transform: translateX(500px);
  }
  .slider .button {
      color: #FFF;
      padding: 100px 90px;
      background: rgba(255,255,255,0.3);
      text-decoration: none;
      text-shadow: 4px 2px 6px rgba(45, 45, 45, 1);
      opacity: 0;
      font-size: 50px;
      line-height: 60px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 60%;
      -webkit-transform: translateX(-500px);
      transform: translateX(-500px)
  }
  .slider h2, .slider .button {
      -webkit-transition: opacity 800ms, -webkit-transform 800ms;
      transition: transform 800ms, opacity 800ms;
      -webkit-transition-delay: 1s; /* Safari */
      transition-delay: 1s;
  }
  .control {
      position: absolute;
      top: 50%;
      width: 50px;
      height: 50px;
      margin-top: -25px;
      z-index: 55;
  }
  .control label {
      z-index: 0;
      display: none;
      text-align: center;
      line-height: 50px;
      font-size: 50px;
      color: #FFF;
      cursor: pointer;
      opacity: 0.2;
  }
  .control label:hover {
     opacity: 0.5;
  }
  .next {
    right: 1%;
  }
  .previous {
    left: 1%;
  }
  .slider-pagination {
      position: absolute;
      bottom: 20px;
      width: 100%;
      left: 0;
      text-align: center;
      z-index: 1000;
  }
  .slider-pagination label {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: inline-block;
      background: rgba(255,255,255,0.2);
      margin: 0 2px;
      border: solid 1px rgba(255,255,255,0.4);
      cursor: pointer;
      }
      

  .slide-radio1:checked ~ .next .numb2, 
  .slide-radio2:checked ~ .next .numb3, 
  .slide-radio3:checked ~ .next .numb4, 
  .slide-radio2:checked ~ .previous .numb1, 
  .slide-radio3:checked ~ .previous .numb2, 
  .slide-radio4:checked ~ .previous .numb3 {
      display: block;
      z-index: 1
  }

  .slide-radio1:checked ~ .slider-pagination .page1, 
  .slide-radio2:checked ~ .slider-pagination .page2, 
  .slide-radio3:checked ~ .slider-pagination .page3, 
  .slide-radio4:checked ~ .slider-pagination .page4 {
      background: rgba(255,255,255,1)
  }
  

  .slide-radio1:checked ~ .slider {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
  }
  .slide-radio2:checked ~ .slider {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
  }
  .slide-radio3:checked ~ .slider {
      -webkit-transform: translateX(-200%);
      transform: translateX(-200%);
  }
  .slide-radio4:checked ~ .slider {
      -webkit-transform: translateX(-300%);
      transform: translateX(-300%);
  }
  
  .slide-radio1:checked ~ .slide1 h2, 
  .slide-radio2:checked ~ .slide2 h2, 
  .slide-radio3:checked ~ .slide3 h2, 
  .slide-radio4:checked ~ .slide4 h2, 
  .slide-radio1:checked ~ .slide1 .button, 
  .slide-radio2:checked ~ .slide2 .button, 
  .slide-radio3:checked ~ .slide3 .button, 
  .slide-radio4:checked ~ .slide4 .button {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1
  }
@media (min-width: 768px) and (max-width: 1062px){
    .nav {
        font-size: 10px;
    }
     .logo img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 767px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    /*Navigation*/
    .nav {
        float: none;
        height: auto;
    }
    .nav>ul>li {
        display: block;
    }
    .baner {
        height: auto;
        position: relative;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .logo img {
        height: auto;
        width: 100%
    }
    /*Hero*/
    .control {
        top: 55%;
    }
    .hero {
        height: 460px;
    }
    /*Info*/
    .features {
        padding-top: 50px;
    }
    .text-sekcja2 {
        padding-left: 8px;
        padding-right: 8px;
    }
    /*Gallery*/
    .layer i:hover {
    color: white;
    background: #3498DB;
    border-color: #3498DB;
    }
    .layer .fa-search {
        left: 0;
    }
    .layer .fa-search {
        opacity: 0.9;
        left: 20%;
    }
    .layer .fa-link {
        right: 0;
    }
    .layer .fa-link {
        opacity: 0.9;
        right: 20%;
    }
    .layer {
        background: rgba(37, 44, 65, 0.66);
    }
    /*App*/
    .app {
        padding-top: 0px;
    }
    .text-sekcja3 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .phone {
        margin-left: auto;
        margin-right: auto;
        float: none;
        display: block;
    }
    .google {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        padding: 0 160px;
    }
    .apple {
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 100%;
        padding: 0 180px;
    }
    /*Contact*/
    .footer {
        text-align: center;
    }
    .text-sekcja5 {
        text-align: center;
    }
    /*Animation Scroll*/
}
@media (min-width: 768px) and (max-width: 1920px) {
    /* For desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}